/tugas2/mavenproject4/target/
/tugas3/target/
/soall6/target/
/Kuis/KuisNurul/target/
/Kuis_PBO_B_123200033/KuisNurul/target/
/bab2/bab2/target/
/bab1/bab1/target/
/prak2/JavaSwing/nbproject/private/
/prak2/JavaSwing/build/
/kuis/beasiswa/target/
/JavaDC/tutorialJDBC/nbproject/private/
/JavaDC/tutorialJDBC/build/
/tugas4/tugas4/nbproject/private/
/tugas4/tugas4/build/